<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
        
        <setting name="cacheEnabled" value="false"/>
        
    </settings>
    
    <!-- typeAliases,类型别名是为 Java 类型设置一个短的名字。它只和 XML 配置有关，存在的意义仅在于用来减少类完全限定名的冗余。
    	当这样配置时，SalaryBillInfo可以用在任何使用com.lifq.java.mybatis.model.SalaryBillInfo的地方。 -->
    <!-- <typeAliases>
	  <typeAlias alias="SalaryBillInfo" type="com.lifq.java.mybatis.model.SalaryBillInfo"/>
	</typeAliases> -->
	
	<!-- 也可以指定一个包名，MyBatis 会在包名下面搜索需要的 Java Bean -->
	<typeAliases>
	  <package  name = "com.lifq.java.mybatis.model" />
	</typeAliases>
    
    <plugins>
	  	<plugin interceptor="com.lifq.java.mybatis.plugin.ExamplePlugin"></plugin>
	</plugins>



  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://127.0.0.1/xfs?useUnicode=true"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
      </dataSource>
    </environment>
  </environments>
  
   
  <mappers>
    <mapper resource="mapper/SalaryBillInfoMapper.xml"/>
  </mappers>
  
  
</configuration>